<!DOCTYPE HTML>
<html>
<head>
    <title>Greeting</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h3>Spring Cook Web</h3><br>
    <a href="/recipes">Recipes list</a>
</body>
</html>